[Unit]
Description=BadVPN UDPGW Multi-Port Service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=yes

ExecStart=/bin/bash -c '\
/usr/local/bin/badvpn-udpgw --listen-addr 0.0.0.0:7300 --max-clients 1000 & \
/usr/local/bin/badvpn-udpgw --listen-addr 0.0.0.0:3478 --max-clients 1000 & \
/usr/local/bin/badvpn-udpgw --listen-addr 0.0.0.0:10000 --max-clients 1000 \
'

ExecStop=/usr/bin/pkill -f badvpn-udpgw
Restart=no
User=root
LimitNOFILE=1048576

[Install]
WantedBy=multi-user.target
